@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --accent: #0070f3;
}

html.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #3b9eff;
}

html,
body {
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html,
    body {
        scroll-snap-type: y mandatory;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-patrick-hand);
}

section {
    scroll-snap-align: start;
}

.stickman-svg g {
    fill: var(--foreground);
}

